.texto{
    font-size: 2.5vw;
    color: rgb(53, 158, 109);
    font-weight: bold;
   text-align: center;
   font-family: 'Roboto Condensed', sans-serif;
  }
.textogal{
  font-size: 4vw;
  color: rgb(53, 158, 109);
  font-weight: bold;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
}
.texto1{
   font-size: 1vw;
   color: rgb(0, 36, 19);
   font-weight: normal;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
}
.texto2{
    font-size: 1.5vw;
    color: rgb(0, 36, 19);
    font-weight: bold;
   text-align: justify;
   font-family: 'Roboto Condensed', sans-serif;
  }
.separacao{
  background-color: red;
  min-height: 30%;
}
.full{
  height: 100vh;
}

 

#rlinks:hover {
  fill: blue;
  
}

body{
  background-color: white;
  padding-top:10vh;
}


section{
  height: 90vh;
  padding-top:20vh;
}


.corpo{
  background-color: white;
}

.menu{
  background-color: #5dc460 !important;
}

.fundosvg{
  background-image:url('imagens/trilha-nova-fundo.svg');
  background-repeat:no-repeat;
  background-size:cover;
  background-position: center;
}
#linkriodosul:hover{
  background-color: blanchedalmond;
}

.fundolink{
  fill: chocolate;

}