@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&family=DM+Serif+Display&family=Open+Sans:wght@300&display=swap');
.menu{
  background-color: #5dc460 !important;
  font-size: 1.2em;}

#carouselExampleControls{
  padding-top: 20vh !important}

#convite{
  font-style: italic ;}

#banner{
  width: 80% !important;}

#ti{
  padding-top: 10%}

#partici{
  color: #339966;}

#municipios{
  width: 80% !important;}  

#programacao{
  color: #339966;
  padding-top: 10%;}

.titulo{
  color: #339966;
  padding-top: 10%;
  padding-bottom: 05%;}

.center{
  align-items: center;}

#icones{
  padding-top: 10%}

#exposi{
  color: #339966;
  padding-top: 10%;
  padding-bottom: 02%;
}

#expo{
  font-family: 'Comfortaa', cursive;}

#convidados, #estan{
  list-style-type:square;}


.titulo2{
  color: #339966;
  padding-top: 06%;
  padding-bottom: 02%;}
  
#cert{
  color: #339966;
  padding-top: 05%;
  font-family: 'Hind Siliguri', sans-serif;}

#organizacao{
  margin-bottom: 20%}

.carousel-control-prev, .carousel-control-next{
  margin-top: 10%;
  background-color: black}

.car, button, span{
  color: black}